@import url('../global.css');
@import url('./header.css');

.profile-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-icon {
    font-size: 2rem;
    color: #3B82F6;
    vertical-align: middle;
}

.profile-dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    margin-top: 5px;
}

.profile-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.profile-dropdown hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ddd;
}

.profile-dropdown a:hover {
    background-color: #f1f1f1;
}

.profile-menu:hover .profile-dropdown {
    display: block;
}