<!DOCTYPE html>
<html lang="{{ g.locale }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpdateMe - Technology and AI Weekly Newsletter</title>
    <meta name="description"
        content="Subscribe to the Technology and Artificial Intelligence Newsletter that will notify you every week of the latest updates on what's happening in the world.">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://updatemeai.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="UpdateMe - Technology and AI Weekly Newsletter">
    <meta property="og:description"
        content="Subscribe to the Technology and Artificial Intelligence Newsletter that will notify you every week of the latest updates on what's happening in the world.">
    <meta property="og:image"
        content="https://opengraph.b-cdn.net/production/images/bfabd6bc-249f-400a-9f99-8b5de217609c.png?token=xYoI1Ww9XbKGGL75Pk7C8GwxqEKiMhKEh1uiZ2twR2M&height=577&width=1200&expires=33280719472">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="updatemeai.vercel.app">
    <meta property="twitter:url" content="https://updatemeai.vercel.app/">
    <meta name="twitter:title" content="UpdateMe - Technology and AI Weekly Newsletter">
    <meta name="twitter:description"
        content="Subscribe to the Technology and Artificial Intelligence Newsletter that will notify you every week of the latest updates on what's happening in the world.">
    <meta name="twitter:image"
        content="https://opengraph.b-cdn.net/production/images/bfabd6bc-249f-400a-9f99-8b5de217609c.png?token=xYoI1Ww9XbKGGL75Pk7C8GwxqEKiMhKEh1uiZ2twR2M&height=577&width=1200&expires=33280719472">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/subscribe-form.js') }}"> defer</script>
</head>

<body>

    {% from 'components/header.html' import header %}
    {{ header() }}

    <main>
        <div class="container">
            <section class="hero-section">
                <div class="hero-content">
                    <h1 class="hero-title">
                        {{ _('Do you want to receive technology and AI content on a weekly basis?') }}
                    </h1>
                    <p class="hero-subtitle">
                        {{ _('Subscribe to the newsletter for free') }}
                    </p>

                    <div class="subscribe-form">
                        <input id="email-input" type="email" placeholder="{{ _('Introduce email...') }}"
                            class="subscribe-input">
                        <button id="subscribe-btn" class="subscribe-button">
                            {{ _('Subscribe') }}
                        </button>
                    </div>
                    <div id="subscribe-message" class="subscribe-message"></div>
                </div>
            </section>
        </div>
    </main>

    {% from 'components/footer.html' import footer %}
    {{ footer() }}

</body>

</html>