<!DOCTYPE html>
<html lang="{{ g.locale }}">

<head>
    {% include 'components/seo-meta.html' %}
    
    <!-- Local Fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/register.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/register-form.js') }}" defer></script>
</head>

<body>

    {% from 'components/header.html' import header %}
    {{ header() }}

    <main>
        <div class="container">
            <section class="hero-section">
                <div class="hero-content">
                    <h1 class="hero-title">{{ _('Register') }}</h1>
                    <p class="hero-subtitle">{{ _('Create an account to set up your weekly updates') }}</p>

                    <div class="subscribe-form">
                        <input id="username-input" type="text" placeholder="{{ _('Username') }}" class="subscribe-input">
                        <input id="email-input" type="email" placeholder="{{ _('Email') }}" class="subscribe-input">
                        <input id="password-input" type="password" placeholder="{{ _('Password') }}" class="subscribe-input">
                        <button id="register-btn" class="subscribe-button">{{ _('Register') }}</button>
                    </div>
                    <div id="register-message" class="subscribe-message"></div>
                </div>
            </section>
        </div>
    </main>

    {% from 'components/footer.html' import footer %}
    {{ footer() }}

</body>

</html>